<% include ../partials/head.ejs %>
    <title>Member</title>
    </head>

    <body>
        <% include ../partials/navbar.ejs %>

        <div class="container">


            <div class="d-flex" id="wrapper">
                <!-- Page Content -->
                <div class="container-fluid">
                    <div class="row mt-5">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Vaccine</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Get your Vaccine</h6>
                                    <p class="card-text">Show Avalible Vaccines.</p>
                                    <a href="vaccines" class="card-link stretched-link">Vaccine</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#wrapper -->
        </div>
    </body>

    </html>