<% include ../partials/head.ejs %>
    <title>Manager</title>
    </head>

    <body>
        <% include ../partials/navbar.ejs %>

            <div class="container">


                <div class="d-flex" id="wrapper">
                    <!-- Page Content -->
                    <div class="container-fluid">
                        <div class="row mt-5">
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Vaccines</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Manage Vaccines</h6>
                                        <p class="card-text">Add, Update, or Delete a vaccine from database.</p>
                                        <a href="vaccine" class="card-link stretched-link">Manage Vaccines</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

    </html>